<div class="space-y-4">
  <div>
    <label class="block text-sm text-gray-600 mb-1 pt-4">Nombre completo</label>
    <input aria-label="name" [(ngModel)]="form.name" name="name" class="input" />
  </div>
  <div>
    <label class="block text-sm text-gray-600 mb-1">Correo electrónico</label>
    <input aria-label="email"
      [(ngModel)]="form.email"
      name="email"
      type="email"
      class="input placeholder-gray-400 placeholder-opacity-100"
    />
  </div>
  <div>
    <label class="block text-sm text-gray-600 mb-1">Nueva contraseña</label>
    <input
      [(ngModel)]="form.password"
      name="password"
      type="password"
      class="input placeholder-gray-400 placeholder-opacity-100"
      placeholder="Deja vacío para no cambiarla"
    />
  </div>
  <button
    (click)="guardar()"
    class="bg-purple-600 text-white px-4 py-2 rounded-md hover:bg-purple-700 transition"
  >
    Guardar cambios
  </button>
</div>
