<ng-container *ngIf="user$ | async as user; else loading">
  <app-sidebar
    class="fixed top-0 left-0 h-screen z-40"
    [user]="user"
    (collapsedChange)="handleSidebarCollapse($event)"
  ></app-sidebar>

  <div
    class="relative transition-all duration-300 ease-in-out"
    [ngClass]="collapsed ? 'ml-20' : 'ml-64'"
  >
    <div
      class="min-h-screen max-h-screen overflow-y-auto bg-gray-50"
      [@routeAnimations]="getRouteAnimationData(outlet)"
    >
      <router-outlet #outlet="outlet"></router-outlet>
    </div>
  </div>
</ng-container>

<ng-template #loading>
  <div class="flex h-screen items-center justify-center text-gray-400 text-lg">
    Cargando sesión...
  </div>
</ng-template>