<main class="flex-1 p-6 bg-gray-100 min-h-screen">
  <app-topbar />
  <app-stats-cards [stats]="stats" />

  <div class="bg-white p-6 rounded-xl shadow-md">
    <div class="flex justify-between items-center mb-4">
      <h2 class="text-lg font-semibold">Usuarios del Sistema</h2>
      <button
  class="flex items-center gap-1 bg-green-600 hover:bg-green-700 text-white text-sm px-4 py-2 rounded-md transition"
  (click)="openNewUserForm()">
  + Nuevo Usuario
</button>

    </div>

    <app-users-table
      [users]="users"
      (onEdit)="editData = $event; showForm = true"
      (onDelete)="handleDelete($event)" />

    <div class="flex justify-center mt-4 space-x-2">
      <button (click)="fetchUsers(page - 1)" [disabled]="page === 0"
        class="bg-gray-200 px-3 py-1 rounded disabled:opacity-50">
        Anterior
      </button>
      <span>Página {{ page + 1 }} de {{ totalPages }}</span>
      <button (click)="fetchUsers(page + 1)" [disabled]="page + 1 >= totalPages"
        class="bg-gray-200 px-3 py-1 rounded disabled:opacity-50">
        Siguiente
      </button>
    </div>
  </div>

  <app-user-form-modal
    [visible]="showForm"
    [initialData]="editData"
    [roles]="roles"
    (onClose)="showForm = false"
    (onSubmit)="handleSubmit($event)" />
</main>
